<div id="agent" class="parallax section db parallax-off" style="background-image:url('uploads/parallax_02.png');">
    <div class="container">
       <div class="section-title row text-center">
          <div class="col-md-8 col-md-offset-2">
             <h3>Agent Details</h3>
             <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
          </div>
          <!-- end col -->
       </div>
       <!-- end title -->
       <div class="row">
          <div class="col-md-3">
             <div class="post-media wow fadeIn">
                <img src="uploads/agent.jpg" alt="" class="img-responsive img-rounded">
                <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
             </div>
             <!-- end media -->
          </div>
          <!-- end col -->
          <div class="col-md-6">
             <div class="message-box">
                <h4>The Agent</h4>
                <h2>Jenny Martines</h2>
                <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                <a href="#contact" data-scroll class="btn btn-light global-radius btn-brd grd1 effect-1">Contact Me</a>
             </div>
             <!-- end messagebox -->
          </div>
          <!-- end col -->
          <div class="col-md-3">
             <div class="agencies_meta clearfix">
                <span><i class="fa fa-envelope "></i> <a href="mailto:support@sitename.com">support@sitename.com</a></span>
                <span><i class="fa fa-link "></i> <a href="#">www.sitename.com</a></span>
                <span><i class="fa fa-phone-square "></i> +1 232 444 55 66</span>
                <span><i class="fa fa-print "></i> +1 232 444 55 66</span>
                <span><i class="fa fa-facebook-square "></i> <a href="#">facebook.com/tagline</a></span>
                <span><i class="fa fa-twitter-square "></i> <a href="#">twitter.com/tagline</a></span>
                <span><i class="fa fa-linkedin-square "></i> <a href="#">linkedin.com/tagline</a></span>
             </div>
             <!-- end agencies_meta -->
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
    </div>
 </div>
 <div id="gallery" class="section wb">
    <div class="sep2"></div>
    <div class="container">
       <div class="section-title row text-center">
          <div class="col-md-8 col-md-offset-2">
             <h3>Property Gallery</h3>
             <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
          </div>
          <!-- end col -->
       </div>
       <!-- end title -->
       <div id="da-thumbs" class="da-thumbs portfolio">
          <div class="post-media pitem item-w1 item-h1 cat1">
             <a href="uploads/home_01.jpg" data-rel="prettyPhoto[gal]">
                <img src="uploads/home_01.jpg" alt="" class="img-responsive">
                <div>
                   <i class="flaticon-unlink"></i>
                </div>
             </a>
          </div>
          <div class="post-media pitem item-w1 item-h1 cat2">
             <a href="uploads/home_02.jpg" data-rel="prettyPhoto[gal]">
                <img src="uploads/home_02.jpg" alt="" class="img-responsive">
                <div>
                   <i class="flaticon-unlink"></i>
                </div>
             </a>
          </div>
          <div class="post-media pitem item-w1 item-h1 cat1">
             <a href="uploads/home_03.jpg" data-rel="prettyPhoto[gal]">
                <img src="uploads/home_03.jpg" alt="" class="img-responsive">
                <div>
                   <i class="flaticon-unlink"></i>
                </div>
             </a>
          </div>
          <div class="post-media pitem item-w1 item-h1 cat3">
             <a href="uploads/home_04.jpg" data-rel="prettyPhoto[gal]">
                <img src="uploads/home_04.jpg" alt="" class="img-responsive">
                <div>
                   <i class="flaticon-unlink"></i>
                </div>
             </a>
          </div>
          <div class="post-media pitem item-w1 item-h1 cat2">
             <a href="uploads/home_05.jpg" data-rel="prettyPhoto[gal]">
                <img src="uploads/home_05.jpg" alt="" class="img-responsive">
                <div>
                   <i class="flaticon-unlink"></i>
                </div>
             </a>
          </div>
          <div class="post-media pitem item-w1 item-h1 cat1">
             <a href="uploads/home_06.jpg" data-rel="prettyPhoto[gal]">
                <img src="uploads/home_06.jpg" alt="" class="img-responsive">
                <div>
                   <i class="flaticon-unlink"></i>
                </div>
             </a>
          </div>
       </div>
       <!-- end portfolio -->
    </div>
    <!-- end container -->
 </div>
 <!-- end section -->
 <div id="testimonials" class="section lb">
    <div class="container">
       <div class="section-title row text-center">
          <div class="col-md-8 col-md-offset-2">
             <h3>Happy Customers</h3>
             <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
          </div>
          <!-- end col -->
       </div>
       <!-- end title -->
       <div class="row">
          <div class="col-md-12 col-sm-12">
             <div class="testi-carousel owl-carousel owl-theme">
                <div class="testimonial clearfix">
                   <div class="desc">
                      <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                      <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                   </div>
                   <div class="testi-meta">
                      <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                      <h4>James Fernando <small>- Manager of Racer</small></h4>
                   </div>
                   <!-- end testi-meta -->
                </div>
                <!-- end testimonial -->
                <div class="testimonial clearfix">
                   <div class="desc">
                      <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                      <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                   </div>
                   <div class="testi-meta">
                      <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                      <h4>Jacques Philips <small>- Designer</small></h4>
                   </div>
                   <!-- end testi-meta -->
                </div>
                <!-- end testimonial -->
                <div class="testimonial clearfix">
                   <div class="desc">
                      <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                      <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                   </div>
                   <div class="testi-meta">
                      <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                      <h4>Venanda Mercy <small>- Newyork City</small></h4>
                   </div>
                   <!-- end testi-meta -->
                </div>
                <!-- end testimonial -->
                <div class="testimonial clearfix">
                   <div class="desc">
                      <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                      <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                   </div>
                   <div class="testi-meta">
                      <img src="uploads/testi_01.png" alt="" class="img-responsive alignleft">
                      <h4>James Fernando <small>- Manager of Racer</small></h4>
                   </div>
                   <!-- end testi-meta -->
                </div>
                <!-- end testimonial -->
                <div class="testimonial clearfix">
                   <div class="desc">
                      <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                      <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                   </div>
                   <div class="testi-meta">
                      <img src="uploads/testi_02.png" alt="" class="img-responsive alignleft">
                      <h4>Jacques Philips <small>- Designer</small></h4>
                   </div>
                   <!-- end testi-meta -->
                </div>
                <!-- end testimonial -->
                <div class="testimonial clearfix">
                   <div class="desc">
                      <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                      <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                   </div>
                   <div class="testi-meta">
                      <img src="uploads/testi_03.png" alt="" class="img-responsive alignleft">
                      <h4>Venanda Mercy <small>- Newyork City</small></h4>
                   </div>
                   <!-- end testi-meta -->
                </div>
                <!-- end testimonial -->
             </div>
             <!-- end carousel -->
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
    </div>
    <!-- end container -->
 </div>
 <!-- end section -->
 <div id="map"></div>
 <div id="support" class="section wb">
    <div class="container">
       <div class="section-title text-center">
          <h3>Get an Appointment Today</h3>
          <p class="lead">Let us give you more details about the special offer website you want us. Please fill out the form below. <br>We have million of website owners who happy to work with us!</p>
       </div>
       <!-- end title -->
       <div class="row">
          <div class="col-md-8 col-md-offset-2">
             <div class="contact_form">
                <div id="message"></div>
                <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                   <fieldset class="row-fluid">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone">
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <label class="sr-only">Select Time</label>
                         <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
                            <option value="selecttime">Select Time</option>
                            <option value="Weekdays">Weekdays</option>
                            <option value="Weekend">Weekend</option>
                         </select>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                         <label class="sr-only">What is max price?</label>
                         <select name="select_price" id="select_price" class="selectpicker form-control" data-style="btn-white">
                            <option value="$100 - $2000">$100 - $2000</option>
                            <option value="$2000 - $4000">$2000 - $4000</option>
                            <option value="$4000 - $10000">$4000 - $10000</option>
                         </select>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Give us more details.."></textarea>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                         <button type="submit" value="SEND" id="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block">Get Appointment</button>
                      </div>
                   </fieldset>
                </form>
             </div>
          </div>
          <!-- end col -->
       </div>
       <!-- end row -->
    </div>
    <!-- end container -->
 </div>
 <!-- end section -->